/*Question*/

/*TESTING*/





/*//////////////////////////////////////////////////////////////*/




/*////////////////////////////////////////////////*/
/*LINK BEHAVIORS*/
/*////////////////////////////////////////////////*/

a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
a:active {text-decoration: none;}


/*////////////////////////////////////////////////*/
/*GENERAL CLASSES*/
/*////////////////////////////////////////////////*/

/*POSITIONS IN THE CENTER COLUMN*/
.centerColumn {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%); /*Moves top left corner of box to center*/
}

/*POSITIONS IN THE RIGHT COLUMN*/
.rightColumn {
    position: absolute;
    left: 60%;
    width: 20%;
}

/*POSITIONS IN THE LEFT COLUMN*/
.leftColumn {
    position: absolute;
    left: 10%;
    width: 20%;
}


/*////////////////////////////////////////////////*/
/*LOGO + NAVIGATION*/
/*////////////////////////////////////////////////*/

/*LOGO CODE*/
#logo {
    padding: 0%;
    margin: 0%;
    width: 30%;
    height: auto;
    top: 15%;
    size: 100%;
    /*
    background-color: aqua;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    */
}

/*CONTAINER FOR NAVIGATION BAR*/
.navBar {
    padding: 1%; /*Adding space around element*/
    margin: 0%;
    width: 30%;
    height: auto;
    display: flex;/*Child elements align like columns or rows*/
    justify-content: space-evenly; /*Even spacing w/ words and border*/
    top: 25%;
    border-top: 1px solid black;
    font-size: 100%;
    /*
    background-color: antiquewhite;
    */
}


/*////////////////////////////////////////////////*/
/*ABOUT SECTION CODES*/
/*////////////////////////////////////////////////*/

/* ABOUT-ME DESCRIPTION FOR TIM */
.aboutTim {
    padding: 3%;
    margin: 0%;
    height: auto;
    width: 51%; 
    background-color: gainsboro ;
    /* border: 1px solid black; */
    top:50%;
    left: 63%;
}

/* ABOUT-ME DESCRIPTION FOR TAM */
.aboutTam {
    padding: 3%;
    margin: 0%;
    height: auto;
    width: 51%; /* WIDTH ATTACHED TO LEFT/RIGHT COLUMN */
    background-color: gainsboro;
    /* border: 1px solid black; */
    top:75%;
    /*top: 80%; */
}

/* IRL PICTURE OF TIM */
#timAboutPic {
    top: 30%;
    width: 20%;
}

/* IRL PICTURE OF TAM */
#tamAboutPic {
    /* top: 40%; */
    top: 75%;
    width: 20%;
    left: 72%;
}




/*////////////////////////////////////////////////*/
/*BODY*/
/*////////////////////////////////////////////////*/

body {
    background-color: white;
}



/*////////////////////////////////////////////////*/
/*TAM ACTIVITIES*/
/*////////////////////////////////////////////////*/

/*CONTROLS OVERALL SIZE OF PICTURES; CONTAINS tamImage, tamOverlay, AND tamText*/
.tamContainer {
    position: relative;
    width: 100%;
    /*
    background-color: green;
    */
}

/*CONTROLS SIZE OF PICTURES IN TAM'S TABLE*/
.tamImage {
    display: block;
    width: 100%;
    height: auto;
}

/*CONTROLS TAM'S TABLE PICTURES IN TABLE TEXT*/
.tamOverlay {
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    height: 100%;
    width: 100%;
    opacity: 0%;
    transition: 0.5s ease;
    background-color: gainsboro;
}

/*IF MOUSE HOVERS OVER tamImages THEN CHANGE OPACITY*/
.tamContainer:hover .tamOverlay {
    opacity: 0.9;
}

/*PRODUCES TEXT IN CENTER OF tamImages*/
.tamText {
    color: black;
    font-size: 20px;
    position: absolute;
    padding: 2%;
    /*
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: beige;
    */
}

/*CONTROLS TAM'S TABLE, ROWS, AND COLUMNS*/
table, th, td {
    /*
    border: 1px solid black;
    */
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
}

/*CONTROLS TAM'S TABLE*/
table {
    border-spacing: 1%;
}

/*CONTAINER FOR TAM'S TABLE; ABLE TO MOVE TAM'S TABLE*/
#descTam {
    top: 40%;
    /*
    background-color: gainsboro;
    border: 1px solid black;
    */
    width: 100%;
    height: auto;
    position: absolute;
}


/* FORMAT FOR CONTAINER FOR TIM'S AND TAM'S CONTACT INFORMATION, IN CONTACT PAGE*/ 
.contactInfo {
    position: absolute;
    width: 25%;
    height: 20%;

    padding: 5px;

    border-radius: 10%;
    border-color: black;
    border-style: solid;

    text-align: center;
}

/* SPECIFIC FORMAT ADJUSTMENTS FOR THE CONTACTS PLACEMENTS */
#timsContactInfo{
    top: 42%;
}

#tamsContactInfo{
    top: 70%;
}

/* GENERAL FORMAT FOR SOCIAL LOGOS E.G LINKINED & GITHUB*/ 
.socialLogo{
    width: 10%; 
    height: auto;
}




/*////////////////////////////////////////////////*/
/*FOOTER*/
/*////////////////////////////////////////////////*/

/* box for entire features */
#page-container {
    position: relative;
    min-height: 100vh;
}

/* footer height */
#content-wrap {
    padding-bottom: 1%;
}

/* footer */
#footer {
    padding: 0%;
    margin: 0%;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1%; /* Footer height */
    text-align: center;
    
}
