/*Question*/

/*TESTING*/




/*//////////////////////////////////////////////////////////////*/




/*////////////////////////////////////////////////*/
/*LINK BEHAVIORS*/
/*////////////////////////////////////////////////*/

a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
a:active {text-decoration: none;}


/*////////////////////////////////////////////////*/
/*GENERAL CLASSES*/
/*////////////////////////////////////////////////*/

/*POSITIONS IN THE CENTER COLUMN*/
.centerColumn {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%); /*Moves top left corner of box to center*/
}

/*POSITIONS IN THE RIGHT COLUMN*/
.rightColumn {
    position: absolute;
    left: 60%;
    width: 20%;
}

/*POSITIONS IN THE LEFT COLUMN*/
.leftColumn {
    position: absolute;
    left: 10%;
    width: 20%;
}


/*////////////////////////////////////////////////*/
/*LOGO + NAVIGATION*/
/*////////////////////////////////////////////////*/

/*LOGO CODE*/
#logo {
    padding: 0%;
    margin: 0%;
    width: 30%;
    height: auto;
    top: 15%;
    /*
    background-color: aqua;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    */
}


/*CONTAINER FOR NAVIGATION BAR*/
.navBar {
    padding: 1%; /*Adding space around element*/
    margin: 0%;
    width: 30%;
    height: auto;
    display: flex;/*Child elements align like columns or rows*/
    justify-content: space-evenly; /*Even spacing w/ words and border*/
    top: 25%;
    border-top: 1px solid black;
    font-size: 100%;
    /*
    background-color: antiquewhite;
    */
}


/*////////////////////////////////////////////////*/
/*ABOUT SECTION CODES*/
/*////////////////////////////////////////////////*/

/* ABOUT-ME DESCRIPTION FOR TIM */
.aboutTim {
    padding: 3%;
    margin: 0%;
    height: auto;
    width: 50%; 
    background-color: gainsboro ;
    /* border: 1px solid black; */
    top:50%;
    left: 60%;
}

/* ABOUT-ME DESCRIPTION FOR TAM */
.aboutTam {
    padding: 3%;
    margin: 0%;
    height: auto;
    width: 51%; /* WIDTH ATTACHED TO LEFT/RIGHT COLUMN */
    background-color: gainsboro;
    /* border: 1px solid black; */
    top:75%;
    /*top: 80%; */
}

/* IRL PICTURE OF TIM */
#timAboutPic {
    top: 30%;
    width: 20%;
}

/* IRL PICTURE OF TAM */
#tamAboutPic {
    /* top: 40%; */
    top: 75%;
    width: 20%;
    left: 72%;
}




/*////////////////////////////////////////////////*/
/*BODY*/
/*////////////////////////////////////////////////*/

body {
    background-color: white;
}

/*////////////////////////////////////////////////*/
/*FOOTER*/
/*////////////////////////////////////////////////*/

/* box for entire features */
#page-container {
    position: relative;
    min-height: 100vh;
}

/* footer height */
#content-wrap {
    padding-bottom: 1%;
}

/* footer */
#footer {
    padding: 0%;
    margin: 0%;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1%; /* Footer height */
    text-align: center;
    
}
