/*Question*/

/*TESTING*/
main {
    height: 100%;
}

footer {
    padding: 3%;
    margin: 0%;
    height: 5%;
    text-align: center;
    background-color: red;
    position: absolute;
    width: 50%;
    bottom: 10px;
    border: 3px solid #8AC007;
}


#timAboutPic {
    top: 30%;
    width: 20%;
}

#tamAboutPic {
    /* top: 40%; */
    top: 75%;
    width: 20%;
}

/*//////////////////////////////////////////////////////////////*/




/*////////////////////////////////////////////////*/
/*LINK BEHAVIORS*/
/*////////////////////////////////////////////////*/

a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
a:active {text-decoration: none;}


/*////////////////////////////////////////////////*/
/*GENERAL CLASSES*/
/*////////////////////////////////////////////////*/

/*POSITIONS IN THE CENTER COLUMN*/
.centerColumn {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%); /*Moves top left corner of box to center*/
}

/*POSITIONS IN THE RIGHT COLUMN*/
.rightColumn {
    position: absolute;
    left: 60%;
    width: 20%;
}

/*POSITIONS IN THE LEFT COLUMN*/
.leftColumn {
    position: absolute;
    left: 10%;
    width: 20%;
}


/*////////////////////////////////////////////////*/
/*LOGO + NAVIGATION*/
/*////////////////////////////////////////////////*/

/*LOGO CODE*/
#logo {
    padding: 0%;
    margin: 0%;
    width: 30%;
    height: auto;
    top: 15%;
    /*
    background-color: aqua;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    */
}


/*CONTAINER FOR NAVIGATION BAR*/
.navBar {
    padding: 1%; /*Adding space around element*/
    margin: 0%;
    width: 30%;
    height: auto;
    display: flex;/*Child elements align like columns or rows*/
    justify-content: space-evenly; /*Even spacing w/ words and border*/
    top: 25%;
    border-top: 1px solid black;
    font-size: 100%;
    /*
    background-color: antiquewhite;
    */
}


/*////////////////////////////////////////////////*/
/*ABOUT SECTION CODES*/
/*////////////////////////////////////////////////*/


.aboutTim {
    padding: 3%;
    margin: 0%;
    height: __;
    width: 40%; 
    background-color: gainsboro ;
    /* border: 1px solid black; */
    top:50%;
    left: 55%;
    /*top: 80%; */
}

.aboutTam {
    padding: 3%;
    margin: 0%;
    height: __;
    width: 40%; /* WIDTH ATTACHED TO LEFT/RIGHT COLUMN */
    background-color: gainsboro;
    /* border: 1px solid black; */
    top:75%;
    /*top: 80%; */
}






/*////////////////////////////////////////////////*/
/*BODY*/
/*////////////////////////////////////////////////*/

body {
    background-color: white;
}
